body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #a114a6, #051353);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.glass-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  padding: 40px 30px;
  width: 90%;
  max-width: 400px;
  color: #fff;
  text-align: center;
}

.glass-card h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

.glass-card input {
  width: 100%;
  padding: 12px 15px;
  margin: 10px 0;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  outline: none;
}

.glass-card button {
  width: 100%;
  padding: 12px;
  background: #0c2060;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  margin-top: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.glass-card button:hover {
  background: #2525a5;
  transform: scale(1.05);
}

#result {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}